body {
  background-color: rgb(246, 243, 243) !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  font-size: 40px;
  color: #18181b;
  font-family: "Saira Semi Condensed", sans-serif;
}

.top-container {
  margin-top: 2%;
  margin-left: 2%;
}
.connection-button {
  margin-top: 20px;
  margin-right: 33px;
}

.custom-word-wrap {
  word-wrap: break-word;
  margin-top: 15px;
  line-height: 25px;
}

